.footerGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 7px;
    text-align: start;
}
/* .cusFooter{
    clip-path: ellipse(85% 90% at 50% 100%);
} */
.bg-custom{
 background: #5a7ba5d7;
}